* {color : #fff;}

@font-face {
  font-family: "Thunder";
  src: url('Font/thunderstrike.ttf');
  font-weight: normal;
  font-style: normal;
  }

main {
  width: 80% ; 
  margin: auto;
 }

h2 {
  border-bottom: 2px solid #454d59;
  text-align: center;
  line-height: 0.5;
  width: 95% ;
  margin: auto;
  font-size: 2rem;
  font-family: "Thunder";
  text-shadow:
    3px 3px 0 #000,
    -3px 3px 0 #000,
    -3px -3px 0 #000,
    3px -3px 0 #000;
}

.box {
  background-color: #0D171ED2;
  border-radius : 10px;
  margin-bottom: 8%;
  box-shadow: 0px 0px 50px #000000;
 }

body {
  padding:0 ; 
  margin: 0;
  background-image: url("https://github.com/Kenmak77/skills-github-pages/blob/main/Images/Background.png?raw=true"); 
  }

.Shad{
 display: block; 
 margin: auto;
 }

.border {
 display: block; 
 margin: auto;
 border: solid black;
 }

h1 {
 text-align: center;
 font-size: 3rem;
 font-family: "Thunder";
line-height: 1;
 text-shadow:
    3px 3px 0 #000,
    -3px 3px 0 #000,
    -3px -3px 0 #000,
    3px -3px 0 #000;
}

p {
 text-align: center;
 font-size: 1.2rem;
 font-family: "Thunder";
 text-shadow:
}
