style {
background: url("https://github.com/Kenmak77/skills-github-pages/blob/main/Images/Background.png?raw=true");
}

main {
  width: 80% ; 
  margin: auto;
 }

.box {
  background-color: #0c1820;
  border-radius : 10px;
  margin-bottom: 8%;
 }

body {
  padding:0 ; 
  margin: 0;
  }

img {
 display: flex; 
 margin: auto;
 align-items: center;
 }

h1 {
 text-align: center;
}

p {
 text-align: center;
}
