style {
background: url("https://github.com/Kenmak77/skills-github-pages/blob/main/Images/Background.png?raw=true");
}

main {
  width: 90% ; margin: auto;
 }

img {
 display: flex; 
 margin: auto;
 }

h1 {
 text-align: center;
}

p {
 text-align: center;
}
